[submodule "OpenCTI/Connectors"]
	path = OpenCTI/Connectors
	url = https://github.com/OpenCTI-Platform/connectors.git
[submodule "OpenBAS/Injectors"]
	path = OpenBAS/Injectors
	url = https://github.com/OpenBAS-Platform/injectors.git
[submodule "OpenBAS/Collectors"]
	path = OpenBAS/Collectors
	url = https://github.com/OpenBAS-Platform/collectors.git
